html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

a:active {
  outline: none; }

body {
  line-height: 1.6;
  color: black;
  background: white;
  font-size: 14px; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a, a:visited, a:focus {
  text-decoration: none; }

h2{
  font-size: 1.5em;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../assets/background.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;

}

.logo{
  margin-bottom: 42px;
  width: 100%;
  max-width: 300px;

}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: #2E3133;
  line-height: 26px;
  margin-bottom: 24px;
}

p.border {
 border-top: solid 3px #C9D0D4;
 padding-top: 32px;
}

p:last-child{
  margin-bottom: 24px;
}

a {
  color: #004E87; }


.wrapper{
  background: #fff;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.20);
  margin: 6% 10% 10%;
  text-align: center;
  padding: 80px 80px 72px 80px;
}

a.button{
  background: #ED2E2E;
  padding: 20px 70px;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 44px;
}

a.button:hover{
  background: #BA2323;
}

.email {
  margin-top: 64px;
  font-size: 14px;
}

.email a {
  color: #aaa;
}

.wrapper li{
  margin-bottom: 20px;
}

.wrapper li a{
  color: rgb(31, 76, 131);
  border-bottom: 1px solid rgba(31, 76, 131, 0.3);
}

.wrapper li a:hover{
  text-decoration: none;
  border-bottom: 1px solid rgba(31, 76, 131, 0.6);
}

ul{
  border-top: solid 3px #C9D0D4;
  padding: 32px 0;
}

strong {
  font-weight: bold;
}


/* ----------- Retina Screens ----------- */
@media only screen and (max-width: 500px) {
    .wrapper{
      background: #fff;
      box-shadow: none;
      margin: 0;
      text-align: center;
      padding: 80px 40px 72px 40px;
    }
    p{
      font-size: 18px;
      line-height: 28px;
    }
    a.button{
      padding: 15px 55px;
    }
    body{
  background-image: none;

    }
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
        .wrapper{
      background: #fff;
      box-shadow: none;
      margin: 0;
      text-align: center;
      padding: 80px 40px 72px 40px;
    }
    a.button{
      padding: 15px 55px;
    }
}

@media only screen and (min-width: 800px) {
  .wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
